# Dependencies
node_modules/
node_modules_broken/

# Environment variables
.env
.env.local
.env.*.local
!.env.example

# Build outputs
dist/
build/
apps/web/dist/
apps/api/dist/
apps/web/.vite/

# Prisma
apps/api/prisma/*.db
apps/api/prisma/*.db-journal

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing / coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Misc
*.local

# Other
Doc/
