@import "tailwindcss";

@theme {
  --color-primary: #005C46;
  --color-primary-hover: #004736;
  --color-accent: #FFB800;
  --color-accent-hover: #E0A200;
  --color-bg-light: #F7F5F0;
  --color-dark: #18181B;
  --font-sans: 'Inter', system-ui, sans-serif;
}